.weather-card-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px 0;
}

.second-card {
  background-color: rgba(202, 69, 111, 1);
  width: 100%;
  padding: 20px 0;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
}

.card img {
  max-width: 100%;
}

.details-container {
  text-align: center;
}

.second-title {
  font-family: 'Raleway', sans-serif;
  color: white;
  font-size: 20px;
  padding-top: 10px;
}

.loading-spinner {
  border: 4px solid rgba(0, 0, 0, 0.3);
  border-top: 4px solid black;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  animation: spin 1s linear infinite;
  position: relative;
  left: 48%;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

@media screen and (min-width: 768px) {
  .second-card {
    width: 320px;
  }
}
