.nav-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: rgba(231, 90, 135, 1);
  padding: 20px;
}

.navhead {
  padding-left: 38px;
  font-size: 20px;
}

.nav-icons {
  display: flex;
  gap: 20px;
  padding-right: 10px;
}
